/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	background-color: #000000;
	
}
#pictures {
	width:1060px;
	background-color: #454D82;
	margin: auto;
	border: 2px solid white;
	border-radius: 8px;
}

img {
	height: 450px;
	width: 450px;
	border: 3px solid #78C0FF;
	border-radius: 8px;
	margin: 15px;
}

p {
	font-family: Verdana;
	font-size: 14px;
	text-decoration: none;
	text-align: left;

}

#posts {
	width: 1060;
}

.single_post {
	border-top: 0px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}